@{
    ViewBag.Title = "Read.me";
}

<div>
    <h1>Test Read.me</h1>
    <div>
        <p>♦ It is necessary change the web.config in order to able to connect to the database. Connection string named 'Entities' should be modified. </p>
        <br />
    </div>
</div>