@{
    ViewBag.Title = "Read.me";
}

<div>
    <h1>Test Read.me</h1>
    <div>
        <p>• It is necessary change the web.config in order to able to connect to the database putting the user and password from your computer. Connection string named 'Entities' should be modified. </p>
        <br />
        <p>• Database script is stored in the path 'Databasecripts/db.sql'</p>
    </div>
</div>